@import "tailwindcss";


@theme inline {
  --color-mintgreen: #C2EEE3;
  --color-tiffany: #84DCC6;
  --color-aqua: #95EECE;
  --color-pearl: #D2D3BA;
  --color-melon: #FFA69E;
  --color-lightred: #FF8785;
  --color-fullred: #FF686B;
}

